/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* Custom CSS */

:root {
  --primary-color: rgb(90, 130, 126);
  --secondary-color: rgb(132, 174, 146); 
  --tertiary-color: rgb(185, 212, 170);
  --text-color: rgb(252, 248, 221);
  --shadow-color: rgb(110, 110, 110);
  /* border: 1px solid red; */
}

body {
    font-family: monospace;
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
  padding: 24px;
  font-size: 1rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  gap: 16px;
  background-color: var(--primary-color);
  padding: 0 16px;
  min-width: 40%;
  height: 50px;
  justify-content: space-around;
  border-radius: 50px;
}

.nav-button {
  font-family: "Poppins", monospace;
  font-size: 1.6rem;
  padding: 4px 8px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-weight: 300;
} 

.nav-button::after {
  background-color: var(--secondary-color);
}

.nav-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  background-color: var(--secondary-color);
  font-size: 1.6rem;
  text-align: center;
  padding: 8px;
  color: var(--text-color);
  text-shadow: 1px 1px 5px black;
}